/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */
body {
  padding-bottom: 40px;
  color: #5a5a5a;
}
/* CUSTOMIZE THE NAVBAR
-------------------------------------------------- */
.navbar {
  margin-bottom: 0px;
}
.article > p {
  margin-bottom: 20px;
}
.article > h3 {
  text-align: center;
  font-weight: bold;
}
.article > h4 {
  color: cornflowerblue;
  font-weight: bold;
}
.article > h5 {
  font-weight: bold;
}
