/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */
body {
  font-family: "Helvetica Neue", Helvetica, "Hiragino San GB", "Microsoft YaHei", Arial, sans-serif;
  padding-bottom: 40px;
  color: #5a5a5a;
}
/* CUSTOMIZE THE NAVBAR
-------------------------------------------------- */
.navbar {
  margin-bottom: 0px;
}
/* CUSTOMIZE THE ARTICLE
-------------------------------------------------- */
.article > p {
  margin-bottom: 20px;
  font-size: 16px;
}
.article > h3 {
  text-align: center;
  font-weight: bold;
}
.article > h4 {
  color: cornflowerblue;
  font-weight: bold;
}
.article > h5 {
  font-weight: bold;
}
/* CUSTOMIZE THE TABLE
-------------------------------------------------- */
.table > caption {
  font-weight: bold;
}
.table > thead > tr > th {
  text-align: center;
}
